body{
	color:red;
}
.contentFeedback {
	background-color: #003341;
	padding-top: 90px;
    position: relative;
}
.containerWidthFeedback {
    padding: 0 300px;
}
.contentFeedbackBack {
    background-image: url("../img/question.png");
    background-position-x: 0%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
.alignFeedback {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
.contentFeedbackBack form {
    padding-bottom: 60px;
}
.contentFeedbackBack h2 {
    color: #fff;
    text-transform: none;
    padding: 60px 0;
}
.contentFeedback textarea {
    background-color: #fff;
    border: none;
    font-size: 18px;
    font-family: "EbrimaBold", arial, verdana, sans-serif;
    color: #003341;
    box-sizing: border-box;
    padding: 10px 20px;
    margin-top: 40px;
    width: 100%;
    height: 150px;
    display: block;
}
textarea::-webkit-input-placeholder {
    color: rgba(0, 51, 65, 0.60);
}
.contactForm textarea:focus::-webkit-input-placeholder{
    color: #fff;
}
.grade{
    width: 630px;
    margin-left: auto;
    text-align: right;
}
.point img {
    cursor: pointer;
    width: 32px;
}
.customScal {
    text-align: left;
}
.gradeScal{
	display:none;
}
input.send{
    width: 200px;
    padding: 10px 0;
    color: #fff;
    background-color: rgb(255, 151,0);
    border: none;
    font-size: 24px;
    font-family: "EbrimaBold", arial, verdana, sans-serif;
    margin-top: 30px;
    cursor: pointer;
    text-transform: none;
}
.point{ 
	margin-bottom:20px;
}
.point span{
	color: rgb(0, 173, 222);
	font-size: 24px;
    font-family: "EbrimaBold", arial, verdana, sans-serif;
	padding-left: 5px;
    vertical-align: top;
}
.checked{
	display:none;
}

.checked1{
	display:none;
}
@media (max-width: 1690px) {
    .containerWidthFeedback {
        padding: 0 180px;
    }
}
@media (max-width: 1440px) {
    .containerWidthFeedback {
        padding: 0 90px;
    }
    .contentFeedbackBack h2 {
        font-size: 30px;
    }
    .point img {
        width: 24px;
    }
    .point span {
        font-size: 18px;
    }
    input.send {
        font-size: 18px;
        width: 170px;
    }
    .contentFeedback textarea {
        margin-top: 30px;
        height: 120px;
    }
    /*.comment {*/
        /**/
    /*}*/
    .grade {
        width: 540px;
    }
}